{
    "swagger": "2.0",
    "info": {
      "description": "Marketo Rest API",
      "version": "1.0",
      "title": "Marketo Rest API",
      "termsOfService": "https://www.marketo.com/company/legal/",
      "contact": {
        "name": "Marketo Developer Relations",
        "url": "http://developers.marketo.com",
        "email": "developerfeedback@marketo.com"
      },
      "license": {
        "name": "API License Agreement",
        "url": "http://developers.marketo.com/api-license/"
      }
    },
    "host": "075-WYV-623.mktorest.com",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "tags": [
      {
        "name": "Authentication",
        "description": "OAuth Authentication Token Marketo API",
        "externalDocs": {
          "description": "OAuth Authentication Documentation",
          "url": "https://developers.marketo.com/rest-api/endpoint-reference/authentication-endpoint-reference/"
        }
      },
      {
        "name": "Bulk Export Activities",
        "description": "Bulk Export Activities Controller",
        "externalDocs": {
          "description": "Bulk Extract Documentation",
          "url": "https://developers.marketo.com/rest-api/endpoint-reference/lead-database-endpoint-reference/#/Bulk_Export_Activities"
        }
      },
      {
        "name": "Bulk Export Leads",
        "description": "Bulk Export Leads Controller",
        "externalDocs": {
          "description": "Bulk Extract Documentation",
          "url": "https://developers.marketo.com/rest-api/endpoint-reference/lead-database-endpoint-reference/#/Bulk_Export_Leads"
        }
      },
      {
        "name": "Bulk Export Program Members",
        "description": "Bulk Export Program Members Controller",
        "externalDocs": {
          "description": "Bulk Extract Documentation",
          "url": "https://developers.marketo.com/rest-api/endpoint-reference/lead-database-endpoint-reference/#/Bulk_Export_Program_Members"
        }
      },
      {
        "name": "Bulk Export Custom Objects",
        "description": "Bulk Export Custom Objects Controller",
        "externalDocs": {
          "description": "Bulk Extract Documentation",
          "url": "https://developers.marketo.com/rest-api/endpoint-reference/lead-database-endpoint-reference/#/Bulk_Export_Custom_Objects"
        }
      }
    ],
    "paths": {
      "/identity/oauth/token": {
        "get": {
          "tags": [
            "Authentication"
          ],
          "summary": "Request an Authentication Token",
          "description": "Retrieve an access token from Marketo. Calls to this endpoint are not counted towards API call limit.",
          "operationId": "requestAuthenticationToken",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "client_id",
              "description": "Client_ID",
              "required": true,
              "schema": "string"
            },
            {
              "in": "query",
              "name": "client_secret",
              "description": "Client_Secret",
              "required": true,
              "schema": "string"
            },
            {
              "in": "query",
              "name": "grant_type",
              "description": "Grant_Type",
              "required": true,
              "schema": {
                "type": "string",
                "example": "client_credentials"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation"
            },
            "400": {
              "description": "Invalid status value"
            }
          },
          "security": [
            {
              "marketo_auth": [
                "read:job"
              ]
            }
          ]
        }
      },
      "/bulk/v1/activities/export.json": {
        "get": {
          "tags": [
            "Bulk Export Activities"
          ],
          "summary": "Get Export Activity Jobs",
          "description": "Returns a list of export jobs that were created in the past 7 days.  Required Permissions: Read-Only Activity",
          "operationId": "getExportActivitiesUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "status",
              "in": "query",
              "description": "Comma separated list of statuses to filter on.",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi",
              "enum": [
                "created",
                "queued",
                "processing",
                "cancelled",
                "completed",
                "failed"
              ]
            },
            {
              "name": "batchSize",
              "in": "query",
              "description": "The batch size to return. The max and default value is 300.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "nextPageToken",
              "in": "query",
              "description": "A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponseWithToken"
              }
            }
          }
        }
      },
      "/bulk/v1/activities/export/create.json": {
        "post": {
          "tags": [
            "Bulk Export Activities"
          ],
          "summary": "Create Export Activity Job - Step 1",
          "description": "Create export job for search criteria defined via \"filter\" parameter.  Request returns the \"exportId\" which is passed as a parameter in subsequent calls to Bulk Export Activities endpoints.  Use Enqueue Export Activity Job endpoint to queue the export job for processing.  Use Get Export Activity Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Activity",
          "operationId": "createExportActivitiesUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "exportActivityRequest",
              "description": "exportActivityRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of field and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"primaryAttributeValueId\":\"Attribute ID\",<br>  \"primaryAttributeValue\":\"Attribute Value\",<br>  \"attributes\":\"Secondary Attributes\"<br>}</code><br>",
              "required": false,
              "schema": {
                "$ref": "#/definitions/ExportActivityRequest"
              }
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/activities/export/{exportId}/cancel.json": {
        "post": {
          "tags": [
            "Bulk Export Activities"
          ],
          "summary": "Cancel Export Activity Job",
          "description": "Cancel export job.  Required Permissions: Read-Only Activity",
          "operationId": "cancelExportActivitiesUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/activities/export/{exportId}/enqueue.json": {
        "post": {
          "tags": [
            "Bulk Export Activities"
          ],
          "summary": "Enqueue Export Activity Job - Step 2",
          "description": "Enqueue export job. This will place export job in queue, and will start the job when computing resources become available.  The export job must be in \"Created\" state.  Use Get Export Activity Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Activity",
          "operationId": "enqueueExportActivitiesUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/activities/export/{exportId}/file.json": {
        "get": {
          "tags": [
            "Bulk Export Activities"
          ],
          "summary": "Get Export Activity File - Step 3",
          "description": "Returns the file content of an export job.  The export job must be in \"Completed\" state.  Use Get Export Activity Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Activity<br><br>The file format is specified by calling the Create Export Activity Job endpoint. The following is an example of the default file format (\"CSV\"). Note that the \"attributes\" field is formatted as JSON.<br><br><code>marketoGUID,leadId,activityDate,activityTypeId,campaignId,primaryAttributeValueId,primaryAttributeValue, attributes</code><br><code>122323,6,2013-09-26T06:56:35+0000,12,11,6,Owyliphys Iledil,[{\"name\":\"Source Type\",\"value\":\"Web page visit\"}]</code>",
          "operationId": "getExportActivitiesFileUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "Range",
              "in": "header",
              "description": "To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified.  See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ObservableOfInputStreamRangeContent"
              }
            }
          }
        }
      },
      "/bulk/v1/activities/export/{exportId}/status.json": {
        "get": {
          "tags": [
            "Bulk Export Activities"
          ],
          "summary": "Get Export Activity Job Status - Step 2.1 (optional)",
          "description": "Returns status of an export job.  Job status is available for 30 days after Completed or Failed status was reached. Required Permissions: Read-Only Activity",
          "operationId": "getExportActivitiesStatusUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/leads/export.json": {
        "get": {
          "tags": [
            "Bulk Export Leads"
          ],
          "summary": "Get Export Lead Jobs",
          "description": "Returns a list of export jobs that were created in the past 7 days.  Required Permissions: Read-Only Lead",
          "operationId": "getExportLeadsUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "status",
              "in": "query",
              "description": "Comma separated list of statuses to filter on.",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi",
              "enum": [
                "created",
                "queued",
                "processing",
                "cancelled",
                "completed",
                "failed"
              ]
            },
            {
              "name": "batchSize",
              "in": "query",
              "description": "The batch size to return. The max and default value is 300.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "nextPageToken",
              "in": "query",
              "description": "A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponseWithToken"
              }
            }
          }
        }
      },
      "/bulk/v1/leads/export/create.json": {
        "post": {
          "tags": [
            "Bulk Export Leads"
          ],
          "summary": "Create Export Lead Job - Step 1",
          "description": "Create export job for search criteria defined via \"filter\" parameter.  Request returns the \"exportId\" which is passed as a parameter in subsequent calls to Bulk Export Leads endpoints.  Use Enqueue Export Lead Job endpoint to queue the export job for processing.  Use Get Export Lead Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead",
          "operationId": "createExportLeadsUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "exportLeadRequest",
              "description": "exportLeadRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of field and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"firstName\":\"First Name\",<br>  \"lastName\":\"Last Name\",<br>  \"email\":\"Email Address\"<br>}</code><br>",
              "required": false,
              "schema": {
                "$ref": "#/definitions/ExportLeadRequest"
              }
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/leads/export/{exportId}/cancel.json": {
        "post": {
          "tags": [
            "Bulk Export Leads"
          ],
          "summary": "Cancel Export Lead Job",
          "description": "Cancel export job.  Required Permissions: Read-Only Lead",
          "operationId": "cancelExportLeadsUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/leads/export/{exportId}/enqueue.json": {
        "post": {
          "tags": [
            "Bulk Export Leads"
          ],
          "summary": "Enqueue Export Lead Job - Step 2",
          "description": "Enqueue export job. This will place export job in queue, and will start the job when computing resources become available.  The export job must be in \"Created\" state.  Use Get Export Lead Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead",
          "operationId": "enqueueExportLeadsUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/leads/export/{exportId}/file.json": {
        "get": {
          "tags": [
            "Bulk Export Leads"
          ],
          "summary": "Get Export Lead File - Step 3",
          "description": "Returns the file content of an export job.  The export job must be in \"Completed\" state.  Use Get Export Lead Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead<br><br>The file format is specified by calling the Create Export Lead Job endpoint. The following is an example of the default file format (\"CSV\").<br><br><code>firstName,lastName,email</code><br><code>Marvin,Gaye,marvin.gaye@motown.com</code>",
          "operationId": "getExportLeadsFileUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "Range",
              "in": "header",
              "description": "To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified.  See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ObservableOfInputStreamRangeContent"
              }
            }
          }
        }
      },
      "/bulk/v1/leads/export/{exportId}/status.json": {
        "get": {
          "tags": [
            "Bulk Export Leads"
          ],
          "summary": "Get Export Lead Job Status - Step 2.1 (optional)",
          "description": "Returns status of an export job.  Job status is available for 30 days after Completed or Failed status was reached. Required Permissions: Read-Only Lead",
          "operationId": "getExportLeadsStatusUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/customobjects/{apiName}/export.json": {
        "get": {
          "tags": [
            "Bulk Export Custom Objects"
          ],
          "summary": "Get Export Custom Object Jobs",
          "description": "Returns a list of export jobs that were created in the past 7 days.  Required Permissions: Read-Only Custom Object",
          "operationId": "getExportCustomObjectsUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "apiName",
              "in": "path",
              "description": "API Name of the custom object for the export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "status",
              "in": "query",
              "description": "Comma separated list of statuses to filter on.",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi",
              "enum": [
                "created",
                "queued",
                "processing",
                "cancelled",
                "completed",
                "failed"
              ]
            },
            {
              "name": "batchSize",
              "in": "query",
              "description": "The batch size to return. The max and default value is 300.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "nextPageToken",
              "in": "query",
              "description": "A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponseWithToken"
              }
            }
          }
        }
      },
      "/bulk/v1/customobjects/{apiName}/export/create.json": {
        "post": {
          "tags": [
            "Bulk Export Custom Objects"
          ],
          "summary": "Create Export Custom Object Job - Step 1",
          "description": "Create export job for search criteria defined via \"filter\" parameter.  Request returns the \"exportId\" which is passed as a parameter in subsequent calls to Bulk Export Custom Object endpoints.  Use Enqueue Export Custom Object Job endpoint to queue the export job for processing.  Use Get Export Custom Object Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Custom Object",
          "operationId": "createExportCustomObjectsUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "apiName",
              "in": "path",
              "description": "API Name of the custom object for the export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "exportCustomObjectRequest",
              "description": "exportCustomObjectRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of custom object attributes and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"attrName1\":\"value1\",<br>  \"attrName2\":\"value2\",<br>  \"attrName3\":\"value3\"<br>}</code><br>",
              "required": false,
              "schema": {
                "$ref": "#/definitions/ExportCustomObjectRequest"
              }
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/customobjects/{apiName}/export/{exportId}/cancel.json": {
        "post": {
          "tags": [
            "Bulk Export Custom Objects"
          ],
          "summary": "Cancel Export Custom Object Job",
          "description": "Cancel export job.  Required Permissions: Read-Only Custom Object",
          "operationId": "cancelExportCustomObjectsUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "apiName",
              "in": "path",
              "description": "API Name of the custom object for the export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/customobjects/{apiName}/export/{exportId}/enqueue.json": {
        "post": {
          "tags": [
            "Bulk Export Custom Objects"
          ],
          "summary": "Enqueue Export Custom Object Job - Step 2",
          "description": "Enqueue export job. This will place export job in queue, and will start the job when computing resources become available.  The export job must be in \"Created\" state.  Use Get Export Custom Object Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Custom Object",
          "operationId": "enqueueExportCustomObjectsUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "apiName",
              "in": "path",
              "description": "API Name of the custom object for the export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/customobjects/{apiName}/export/{exportId}/file.json": {
        "get": {
          "tags": [
            "Bulk Export Custom Objects"
          ],
          "summary": "Get Export Custom Object File - Step 3",
          "description": "Returns the file content of an export job.  The export job must be in \"Completed\" state.  Use Get Export Custom Object Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Custom Object<br><br>The file format is specified by calling the Create Export Custom Object Job endpoint. The following is an example of the default file format (\"CSV\").<br><br><code>leadId,marketoGUID,itemName</code><br><code>11,c93f0494-bbd9-44e8-9c0e-dae9b525073f,Hoka One One Mach 4</code>",
          "operationId": "getExportCustomObjectsFileUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "apiName",
              "in": "path",
              "description": "API Name of the custom object for the export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "Range",
              "in": "header",
              "description": "To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified.  See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ObservableOfInputStreamRangeContent"
              }
            }
          }
        }
      },
      "/bulk/v1/customobjects/{apiName}/export/{exportId}/status.json": {
        "get": {
          "tags": [
            "Bulk Export Custom Objects"
          ],
          "summary": "Get Export Custom Object Job Status - Step 2.1 (optional)",
          "description": "Returns status of an export job.  Job status is available for 30 days after Completed or Failed status was reached. Required Permissions: Read-Only Custom Object",
          "operationId": "getExportCustomObjectsStatusUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "apiName",
              "in": "path",
              "description": "API Name of the custom object for the export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/program/members/export.json": {
        "get": {
          "tags": [
            "Bulk Export Program Members"
          ],
          "summary": "Get Export Program Member Jobs",
          "description": "Returns a list of export jobs that were created in the past 7 days.  Required Permissions: Read-Only Lead",
          "operationId": "getExportProgramMembersUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "status",
              "in": "query",
              "description": "Comma separated list of statuses to filter on.",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi",
              "enum": [
                "created",
                "queued",
                "processing",
                "cancelled",
                "completed",
                "failed"
              ]
            },
            {
              "name": "batchSize",
              "in": "query",
              "description": "The batch size to return. The max and default value is 300.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "nextPageToken",
              "in": "query",
              "description": "A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponseWithToken"
              }
            }
          }
        }
      },
      "/bulk/v1/program/members/export/create.json": {
        "post": {
          "tags": [
            "Bulk Export Program Members"
          ],
          "summary": "Create Export Program Member Job - Step 1",
          "description": "Create export job for search criteria defined via \"filter\" parameter.  Request returns the \"exportId\" which is passed as a parameter in subsequent calls to Bulk Export Program Members endpoints.  Use Enqueue Export Program Member Job endpoint to queue the export job for processing.  Use Get Export Program Member Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead",
          "operationId": "createExportProgramMembersUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "exportProgramMemberRequest",
              "description": "exportProgramMemberRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of field and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"firstName\":\"First Name\",<br>  \"lastName\":\"Last Name\",<br>  \"email\":\"Email Address\"<br>}</code><br>",
              "required": false,
              "schema": {
                "$ref": "#/definitions/ExportProgramMemberRequest"
              }
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/program/members/export/{exportId}/cancel.json": {
        "post": {
          "tags": [
            "Bulk Export Program Members"
          ],
          "summary": "Cancel Export Program Member Job",
          "description": "Cancel export job.  Required Permissions: Read-Only Lead",
          "operationId": "cancelExportProgramMembersUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/program/members/export/{exportId}/enqueue.json": {
        "post": {
          "tags": [
            "Bulk Export Program Members"
          ],
          "summary": "Enqueue Export Program Member Job - Step 2",
          "description": "Enqueue export job. This will place export job in queue, and will start the job when computing resources become available.  The export job must be in \"Created\" state.  Use Get Export Program Member Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead",
          "operationId": "enqueueExportProgramMembersUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      },
      "/bulk/v1/program/members/export/{exportId}/file.json": {
        "get": {
          "tags": [
            "Bulk Export Program Members"
          ],
          "summary": "Get Export Program Member File - Step 3",
          "description": "Returns the file content of an export job.  The export job must be in \"Completed\" state.  Use Get Export Program Member Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead<br><br>The file format is specified by calling the Create Export Program Member Job endpoint. The following is an example of the default file format (\"CSV\").<br><br><code>firstName,lastName,email</code><br><code>Marvin,Gaye,marvin.gaye@motown.com</code>",
          "operationId": "getExportProgramMembersFileUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "Range",
              "in": "header",
              "description": "To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified.  See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.",
              "required": false,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ObservableOfInputStreamRangeContent"
              }
            }
          }
        }
      },
      "/bulk/v1/program/members/export/{exportId}/status.json": {
        "get": {
          "tags": [
            "Bulk Export Program Members"
          ],
          "summary": "Get Export Program Member Job Status - Step 2.1 (optional)",
          "description": "Returns status of an export job.  Job status is available for 30 days after Completed or Failed status was reached. Required Permissions: Read-Only Lead",
          "operationId": "getExportProgramMembersStatusUsingGET",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "exportId",
              "in": "path",
              "description": "Id of export batch job.",
              "required": true,
              "type": "string"
            },
            {
              "name": "access_token",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ResponseOfExportResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "ResponseOfActivity": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "moreResult": {
            "type": "boolean",
            "example": false,
            "description": "Boolean indicating if there are more results in subsequent pages"
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/Activity"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "ResponseOfLists": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "moreResult": {
            "type": "boolean",
            "example": false,
            "description": "Boolean indicating if there are more results in subsequent pages"
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/List"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "ResponseOfPrograms": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "moreResult": {
            "type": "boolean",
            "example": false,
            "description": "Boolean indicating if there are more results in subsequent pages"
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/Program"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "ResponseOfSmartCampaigns": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "moreResult": {
            "type": "boolean",
            "example": false,
            "description": "Boolean indicating if there are more results in subsequent pages"
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/SmartCampaign"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "LeadInputData": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique integer id of a lead record"
          }
        },
        "description": "Lead record containing only lead id"
      },
      "ResponseOfStaticList": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/StaticList"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "ResponseOfCustomActivityType": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "moreResult": {
            "type": "boolean",
            "example": false,
            "description": "Boolean indicating if there are more results in subsequent pages"
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/CustomActivityType"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "LeadChange": {
        "type": "object",
        "required": [
          "activityDate",
          "activityTypeId",
          "attributes",
          "id",
          "leadId"
        ],
        "properties": {
          "activityDate": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of the activity"
          },
          "activityTypeId": {
            "type": "integer",
            "format": "int32",
            "description": "Id of the activity type"
          },
          "attributes": {
            "type": "array",
            "description": "List of secondary attributes",
            "items": {
              "$ref": "#/definitions/Attribute"
            }
          },
          "campaignId": {
            "type": "integer",
            "format": "int64"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/LeadChangeField"
            }
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Integer id of the activity.  For instances which have been migrated to Activity Service, this field may not be present, and should not be treated as unique."
          },
          "leadId": {
            "type": "integer",
            "format": "int64",
            "description": "Id of the lead associated to the activity"
          },
          "marketoGUID": {
            "type": "string",
            "description": "Unique id of the activity (128 character string)"
          }
        }
      },
      "LeadPartition": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the partition"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique integer id of the partition"
          },
          "name": {
            "type": "string",
            "description": "Name of the partition"
          }
        }
      },
      "ActivityType": {
        "type": "object",
        "required": [
          "attributes",
          "id",
          "name",
          "primaryAttribute"
        ],
        "properties": {
          "apiName": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "description": "List of secondary attributes of the type",
            "items": {
              "$ref": "#/definitions/ActivityTypeAttribute"
            }
          },
          "description": {
            "type": "string",
            "description": "Description of the activity type"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Id of the activity type"
          },
          "name": {
            "type": "string",
            "description": "Name of the activity type"
          },
          "primaryAttribute": {
            "description": "Primary attribute of the type",
            "$ref": "#/definitions/ActivityTypeAttribute"
          }
        }
      },
      "ActivityTypeAttribute": {
        "type": "object",
        "required": [
          "dataType",
          "name"
        ],
        "properties": {
          "apiName": {
            "type": "string"
          },
          "dataType": {
            "type": "string",
            "description": "Datatype of the Attribute"
          },
          "name": {
            "type": "string",
            "description": "Name of the attribute"
          }
        }
      },
      "ResponseWithoutResult": {
        "type": "object",
        "required": [
          "requestId",
          "success"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token returned from a previous response"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "SyncCustomObjectRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "action": {
            "type": "string",
            "description": "Type of sync operation to perform",
            "enum": [
              "createOnly",
              "updateOnly",
              "createOrUpdate"
            ]
          },
          "dedupeBy": {
            "type": "string",
            "description": "Field to deduplicate on.  If the value in the field for a given record is not unique, an error will be returned for the individual record."
          },
          "input": {
            "type": "array",
            "description": "List of input records",
            "items": {
              "$ref": "#/definitions/CustomObject"
            }
          }
        }
      },
      "SyncProgramMemberStatusRequest": {
        "type": "object",
        "required": [
          "statusName",
          "input"
        ],
        "properties": {
          "statusName": {
            "type": "string",
            "description": "Program member status"
          },
          "input": {
            "type": "array",
            "description": "List of input records",
            "items": {
              "$ref": "#/definitions/ProgramMemberStatus"
            }
          }
        }
      },
      "ProgramMemberStatus": {
        "type": "object",
        "required": [
          "leadId"
        ],
        "properties": {
          "leadId": {
            "type": "integer",
            "format": "int64",
            "description": "Unique integer id of a lead record"
          }
        }
      },
      "SyncProgramMemberDataRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "array",
            "description": "List of input records",
            "items": {
              "$ref": "#/definitions/ProgramMemberData"
            }
          }
        }
      },
      "ProgramMemberData": {
        "type": "object",
        "required": [
          "leadId",
          "{fieldApiName}"
        ],
        "properties": {
          "leadId": {
            "type": "integer",
            "format": "int64",
            "description": "Unique integer id of a lead record"
          },
          "{fieldApiName}": {
            "type": "string",
            "description": "API Name of field to update.  Must be updateable as described by <a href=\"/rest-api/endpoint-reference/lead-database-endpoint-reference/#/Leads/describeProgramMemberUsingGET2\">Describe Program Member</a> endpoint."
          },
          "{fieldApiName2}": {
            "type": "string",
            "description": "API Name of another field to update (and so forth).  Must be updateable as described by <a href=\"/rest-api/endpoint-reference/lead-database-endpoint-reference/#/Leads/describeProgramMemberUsingGET2\">Describe Program Member</a> endpoint."
          }
        }
      },
      "DeleteProgramMemberRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "array",
            "description": "List of input records",
            "items": {
              "$ref": "#/definitions/ProgramMemberDelete"
            }
          }
        }
      },
      "ProgramMemberDelete": {
        "type": "object",
        "required": [
          "leadId"
        ],
        "properties": {
          "leadId": {
            "type": "integer",
            "format": "int64",
            "description": "Unique integer id of a lead record"
          }
        }
      },
      "SyncCustomObjectTypeRequest": {
        "type": "object",
        "required": [
          "apiName",
          "displayName"
        ],
        "properties": {
          "action": {
            "type": "string",
            "description": "Type of sync operation to perform.  Default is createOrUpdate.",
            "enum": [
              "createOnly",
              "updateOnly",
              "createOrUpdate"
            ]
          },
          "displayName": {
            "type": "string",
            "description": "UI display-name of the custom object type"
          },
          "apiName": {
            "type": "string",
            "description": "API name of the custom object type"
          },
          "pluralName": {
            "type": "string",
            "description": "UI plural-name of the custom object type"
          },
          "description": {
            "type": "string",
            "description": "Description of the custom object type"
          },
          "showInLeadDetail": {
            "type": "boolean",
            "description": "Whether to show custom object type in lead detail of UI.  Default is false"
          }
        }
      },
      "InputStream": {
        "type": "object"
      },
      "TriggerCampaignRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "description": "Object describing trigger configuration for the campaign",
            "$ref": "#/definitions/TriggerCampaignData"
          }
        }
      },
      "ResponseOfNamedAccount": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "moreResult": {
            "type": "boolean",
            "example": false,
            "description": "Boolean indicating if there are more results in subsequent pages"
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/NamedAccount"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique integer id of a lead record"
          },
          "membership": {
            "description": "Membership data for the parent program.  Only returned via Get Leads By Program Id",
            "$ref": "#/definitions/ProgramMembership"
          },
          "reason": {
            "description": "Reason object describing why an operation did not succeed for a record",
            "$ref": "#/definitions/Reason"
          },
          "status": {
            "type": "string",
            "description": "Status of the operation performed on the record"
          }
        },
        "description": "Lead record.  Always contains id, but may have any number of other fields, depending on the fields available in the target instance."
      },
      "PushLead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique integer id of a lead record"
          },
          "reason": {
            "description": "Reason object describing why an operation did not succeed for a record",
            "$ref": "#/definitions/Reason"
          },
          "status": {
            "type": "string",
            "description": "Status of the operation performed on the record"
          }
        },
        "description": "Lead record.  Always contains id, but may have any number of other fields, depending on the fields available in the target instance."
      },
      "LeadField": {
        "type": "object",
        "description": "Lead field record",
        "required": [
          "displayName",
          "name",
          "description",
          "dataType",
          "isHidden",
          "isHtmlEncodingInEmail",
          "isSensitive",
          "isCustom",
          "isApiCreated"
        ],
        "properties": {
          "displayName": {
            "type": "string",
            "description": "UI display-name of the field"
          },
          "name": {
            "type": "string",
            "description": "API name of the field"
          },
          "description": {
            "type": "string",
            "description": "Description of the field"
          },
          "dataType": {
            "type": "string",
            "description": "Datatype of the field"
          },
          "length": {
            "type": "integer",
            "format": "int32",
            "description": "Max length of the field.  Only applicable to text, string, and text area."
          },
          "isHidden": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, the field is hidden"
          },
          "isHtmlEncodingInEmail": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field is encoded as HTML in email"
          },
          "isSensitive": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field is marked as sensitive"
          },
          "isCustom": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field is custom"
          },
          "isApiCreated": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field was created using REST API"
          }
        }
      },
      "UpdateLeadField": {
        "type": "object",
        "description": "Lead field record for update",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "UI display-name of the field"
          },
          "description": {
            "type": "string",
            "description": "Description of the field"
          },
          "isHidden": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, the field is hidden.  Default is false"
          },
          "isHtmlEncodingInEmail": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field is encoded as HTML in email.  Default is true"
          },
          "isSensitive": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field is marked as sensitive.  Default is false"
          }
        }
      },
      "CreateLeadField": {
        "type": "object",
        "required": [
          "displayName",
          "name",
          "dataType"
        ],
        "description": "Lead field record for create",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "UI display-name of the field.  Must be unique, cannot contain special characters"
          },
          "name": {
            "type": "string",
            "description": "API name of the field.  Must be unique, start with a letter, and only contain letters, numbers, or underscore"
          },
          "description": {
            "type": "string",
            "description": "Description of the field.  Default is no description"
          },
          "dataType": {
            "type": "string",
            "description": "Datatype of the field",
            "enum": [
              "boolean",
              "currency",
              "date",
              "datetime",
              "email",
              "float",
              "integer",
              "percent",
              "phone",
              "score",
              "string",
              "url"
            ]
          },
          "isHidden": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, the field is hidden.  Default is false"
          },
          "isHtmlEncodingInEmail": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field is encoded as HTML in email.  Default is true"
          },
          "isSensitive": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, field is marked as sensitive.  Default is false"
          }
        }
      },
      "LeadFieldStatus": {
        "type": "object",
        "required": [
          "name",
          "status"
        ],
        "description": "Lead field update status",
        "properties": {
          "name": {
            "type": "string",
            "description": "API name of the field"
          },
          "status": {
            "type": "string",
            "description": "Status of the operation performed on the record",
            "enum": [
              "created",
              "updated"
            ]
          }
        }
      },
      "UpdateLeadFieldRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "array",
            "description": "Single lead field for input",
            "items": {
              "$ref": "#/definitions/UpdateLeadField"
            }
          }
        }
      },
      "CreateLeadFieldRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "array",
            "description": "List of lead fields for input",
            "items": {
              "$ref": "#/definitions/CreateLeadField"
            }
          }
        }
      },
      "SyncLeadRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "action": {
            "type": "string",
            "description": "Type of sync operation to perform.  Defaults to createOrUpdate if unset",
            "enum": [
              "createOnly",
              "updateOnly",
              "createOrUpdate",
              "createDuplicate"
            ]
          },
          "asyncProcessing": {
            "type": "boolean",
            "example": false,
            "description": "If set to true, the call will return immediately"
          },
          "input": {
            "type": "array",
            "description": "List of leads for input",
            "items": {
              "$ref": "#/definitions/Lead"
            }
          },
          "lookupField": {
            "type": "string",
            "description": "Field to deduplicate on.  The field must be present in each lead record of the input.  Defaults to email if unset"
          },
          "partitionName": {
            "type": "string",
            "description": "Name of the partition to operate on, if applicable.  Should be set whenever possible, when interacting with an instance where partitions are enabled."
          }
        }
      },
      "DeleteSalesPersonRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "deleteBy": {
            "type": "string",
            "description": "Key to use for deletion of the record"
          },
          "input": {
            "type": "array",
            "description": "List of input records",
            "items": {
              "$ref": "#/definitions/SalesPerson"
            }
          }
        }
      },
      "ListOperationOutputData": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique integer id of a lead record"
          },
          "reasons": {
            "type": "array",
            "description": "List of reasons why an operation did not succeed.  Reasons are only present in API responses and should not be submitted",
            "items": {
              "$ref": "#/definitions/Reason"
            }
          },
          "status": {
            "type": "string",
            "description": "Status of the operation performed on the record"
          }
        }
      },
      "LeadAttribute": {
        "type": "object",
        "required": [
          "dataType",
          "displayName",
          "id"
        ],
        "properties": {
          "dataType": {
            "type": "string",
            "description": "Datatype of the field"
          },
          "displayName": {
            "type": "string",
            "description": "UI display-name of the field"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique integer id of the field"
          },
          "length": {
            "type": "integer",
            "format": "int32",
            "description": "Max length of the field.  Only applicable to text, string, and text area."
          },
          "rest": {
            "description": "Description of REST API usage attributes",
            "$ref": "#/definitions/LeadMapAttribute"
          },
          "soap": {
            "description": "Description of SOAP API usage attributes",
            "$ref": "#/definitions/LeadMapAttribute"
          }
        }
      },
      "LeadAttribute2": {
        "type": "object",
        "required": [
          "name",
          "searchableFields",
          "fields"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "\"API Lead\""
          },
          "searchableFields": {
            "type": "array",
            "description": "List of searchable fields",
            "items": {
              "$ref": "#/definitions/LeadAttribute2SearchableFields"
            }
          },
          "fields": {
            "type": "array",
            "description": "Description of searchable fields",
            "items": {
              "$ref": "#/definitions/LeadAttribute2Fields"
            }
          }
        }
      },
      "LeadAttribute2SearchableFields": {
        "type": "array",
        "description": "List of searchable fields",
        "items": {
          "type": "string",
          "description": "Searchable field"
        }
      },
      "LeadAttribute2Fields": {
        "type": "object",
        "required": [
          "name",
          "displayName",
          "dataType",
          "updateable",
          "crmManaged"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "REST API name of field"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of field (friendly name)"
          },
          "dataType": {
            "type": "string",
            "description": "Data type of field"
          },
          "length": {
            "type": "integer",
            "description": "Length of field"
          },
          "updateable": {
            "type": "boolean",
            "description": "Is field updateable"
          },
          "crmManaged": {
            "type": "boolean",
            "description": "Is field managed by CRM"
          }
        }
      },
      "LeadAttribute2Fields2": {
        "type": "object",
        "required": [
          "name",
          "displayName",
          "dataType",
          "updateable",
          "crmManaged"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "REST API name of field"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of field (friendly name)"
          },
          "dataType": {
            "type": "string",
            "description": "Data type of field"
          },
          "length": {
            "type": "integer",
            "description": "Length of field"
          },
          "updateable": {
            "type": "boolean",
            "description": "Is field updateable"
          },
          "crmManaged": {
            "type": "boolean",
            "description": "Is field managed by CRM"
          }
        }
      },
      "ProgramMemberAttribute": {
        "type": "object",
        "required": [
          "fields"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "\"API Program Member\""
          },
          "fields": {
            "type": "array",
            "description": "Description of searchable fields",
            "items": {
              "$ref": "#/definitions/LeadAttribute2Fields"
            }
          }
        }
      },
      "ProgramMemberAttribute2": {
        "type": "object",
        "required": [
          "name",
          "description",
          "createdAt",
          "updatedAt",
          "dedupeFields",
          "searchableFields",
          "fields"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "\"API Program Member\""
          },
          "description": {
            "type": "string",
            "description": "\"API Program Member Map\""
          },
          "createdAt": {
            "type": "string",
            "description": "Datetime when created"
          },
          "updatedAt": {
            "type": "string",
            "description": "Datetime updated"
          },
          "dedupeFields": {
            "type": "array",
            "description": "List of dedupe fields",
            "items": {
              "type": "string"
            }
          },
          "searchableFields": {
            "type": "array",
            "description": "List of searchable fields",
            "items": {
              "$ref": "#/definitions/LeadAttribute2SearchableFields"
            }
          },
          "fields": {
            "type": "array",
            "description": "Description of searchable fields",
            "items": {
              "$ref": "#/definitions/LeadAttribute2Fields2"
            }
          }
        }
      },
      "ScheduleCampaignRequest": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/definitions/ScheduleCampaignData"
          }
        },
        "description": "Record describe how to schedule the campaign"
      },
      "SyncSalesPersonRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "action": {
            "type": "string",
            "description": "Type of sync operation to perform",
            "enum": [
              "createOnly",
              "updateOnly",
              "createOrUpdate"
            ]
          },
          "dedupeBy": {
            "type": "string",
            "description": "Field to deduplicate on.  If the value in the field for a given record is not unique, an error will be returned for the individual record."
          },
          "input": {
            "type": "array",
            "description": "List of input records",
            "items": {
              "$ref": "#/definitions/SalesPerson"
            }
          }
        }
      },
      "ResponseOfImportLeadResponse": {
        "type": "object",
        "required": [
          "errors",
          "requestId",
          "result",
          "success",
          "warnings"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of errors that occurred if the request was unsuccessful",
            "items": {
              "$ref": "#/definitions/Error"
            }
          },
          "moreResult": {
            "type": "boolean",
            "example": false,
            "description": "Boolean indicating if there are more results in subsequent pages"
          },
          "nextPageToken": {
            "type": "string",
            "description": "Paging token given if the result set exceeded the allowed batch size"
          },
          "requestId": {
            "type": "string",
            "description": "Id of the request made"
          },
          "result": {
            "type": "array",
            "description": "Array of results for individual records in the operation, may be empty",
            "items": {
              "$ref": "#/definitions/ImportLeadResponse"
            }
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Whether the request succeeded"
          },
          "warnings": {
            "type": "array",
            "description": "Array of warnings given for the operation",
            "items": {
              "$ref": "#/definitions/Warning"
            }
          }
        }
      },
      "NamedAccountList": {
        "type": "object",
        "required": [
          "marketoGUID",
          "seq"
        ],
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Datetime when the named account list was created"
          },
          "marketoGUID": {
            "type": "string",
            "description": "Unique GUID of the custom object records"
          },
          "name": {
            "type": "string",
            "description": "Name of named account list"
          },
          "reasons": {
            "type": "array",
            "description": "List of reasons why an operation did not succeed.  Reasons are only present in API responses and should not be submitted",
            "items": {
              "$ref": "#/definitions/Reason"
            }
          },
          "seq": {
            "type": "integer",
            "format": "int32",
            "description": "Integer indicating the sequence of the record in response.  This value is correlated to the order of the records included in the request input.  Seq should only be part of responses and should not be submitted."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "deleted",
              "skipped",
              "added",
              "removed"
            ]
          },
          "type": {
            "type": "string",
            "description": "Type of named account list (\"default\" if created by user or API, \"external\" if managed by CRM-View)"
          },
          "updateable": {
            "type": "boolean",
            "example": false,
            "description": "Whether the list is updateable (true if created by user or API, false if managed by CRM-View)"
          },
          "updatedAt": {
            "type": "string",
            "description": "Datetime when the named account list was most recently updated"
          }
        }
      },
      "ExportLeadRequest": {
        "type": "object",
        "required": [
          "fields",
          "filter"
        ],
        "properties": {
          "columnHeaderNames": {
            "description": "File header field names override (corresponds with REST API name)",
            "$ref": "#/definitions/ColumnHeaderNames"
          },
          "fields": {
            "type": "array",
            "description": "Comma-separated list of fields to include in the file",
            "items": {
              "type": "string"
            },
            "example": [
              "X5th_day_checkbox__c",
              "X7th_day_checkbox__c",
              "ABM_Category__c",
              "ABM_Category__c_contact",
              "ABM_Category__c_lead",
              "aBMInfluencerScore",
              "aBMMQLsScore",
              "Academic_Opt_Out__c",
              "Americas_Account_Category__c",
              "Account_CC__c",
              "Account_Contact_Role__c",
              "Account_Creation_Request__c",
              "CurrencyIsoCode_account",
              "Account_Entitlement_Status__c",
              "Account_Entitlement_Status__c_contact",
              "Account_ID_18_Digit__c",
              "NameLocal",
              "Account_Revenue_Tier__c",
              "AccountSource",
              "Account_Type__c",
              "Acquisition_Channel__c",
              "mktoAcquisitionDate",
              "Act_Now__c",
              "Act_Now_Date__c",
              "Act_Now_Reset_Date__c",
              "Active_MSC_One_Customer__c",
              "Active_MSC_One_Tokens__c",
              "ACV__c",
              "addtoNurture",
              "address",
              "Address_lead",
              "AgencyNo1__c",
              "AgencyNo2__c",
              "Agreement_Date__c",
              "Agreement_version__c",
              "Americas_Territory__c",
              "annualRevenue",
              "Annual_Sales__c",
              "anonymousIP",
              "Apex_IRT_Contact__c",
              "Approved__c",
              "Areas_of_Concerns__c",
              "Assigned_Overlay__c",
              "assignedOverlayB",
              "Assigned_Overlay_Email__c",
              "atEventComments",
              "atEventFollowUp",
              "Products__c",
              "behaviorScore",
              "billingStreet",
              "BillingAddress",
              "billingCity",
              "billingCountry",
              "BillingCountryCode",
              "BillingGeocodeAccuracy",
              "BillingLatitude",
              "BillingLongitude",
              "billingPostalCode",
              "billingState",
              "BillingStateCode",
              "blackListed",
              "blackListedCause",
              "Bounce__c",
              "bounceDate",
              "Business_Unit__c",
              "Bypass_Duplicate_Rules__c",
              "CAD_Software__c",
              "CAD_Usage__c",
              "campaignCode",
              "canReceiveEmail",
              "Cancel_Time_Based_Workflow__c",
              "capability",
              "Case_Contact_Country__c",
              "Case_Status__c",
              "CFD_Application__c",
              "CFD_Newsletter__c",
              "CFD_Usage__c",
              "Channel_Manager_Reject__c",
              "ChannelProgramLevelName",
              "ChannelProgramName",
              "city",
              "Closed_Lost_Date_MKTO__c",
              "Comment_History__c",
              "Company__c",
              "company",
              "Company_Name_Local_Language__c",
              "Company_name_Phonetic__c",
              "mktoCompanyNotes",
              "consentBlogUpdates",
              "Consent_Communications_Preferences__c",
              "consentMagazine",
              "consentMagazineDelivery",
              "consentMobileSMS",
              "consentNeuesAusCAEWelt",
              "consentNewsUpdates",
              "consentOptOutSurvey",
              "Consent_Personal_Data_Review_Request__c",
              "consentProductofInterest",
              "productofInterestCradle",
              "productofInterestExstream",
              "productofInterestFFT",
              "productofInterestFTI",
              "productofInterestMSC",
              "consentProductofInterestMSCApex",
              "consentProductofInterestRomax",
              "productofInterestSimufact",
              "productofInterestVires",
              "consentProductUpdates",
              "Consent_Remove_from_DB_Request__c",
              "consentStep1",
              "consentStep2",
              "consentStep3",
              "consentWebinarsEvents",
              "Consent_History__c",
              "Consent_Last_Updated__c",
              "consentNotes",
              "Consent_to_Processing__c",
              "consenttosharedatawithpartners",
              "Contact_Comments__c",
              "CurrencyIsoCode_contact",
              "Contact_First_Name_Phonetic__c",
              "Contact_Owner__c",
              "Contact_Owner_Function_MKTO__c",
              "Contact_Rating__c",
              "Contact_Status__c",
              "Contact_Status__c_contact",
              "Contact_Status_Comment__c",
              "Contact_Status_Reason__c",
              "Conversion_Date__c",
              "country",
              "countryB",
              "Country_Used_by_Tech_Support__c",
              "CountryCode",
              "county",
              "Cradle_Contact__c",
              "Cradle_Data__c",
              "Cradle_Memo__c",
              "Cradle_AgreementNo__c",
              "Cradle_CustomerNo__c",
              "Cradle_Industry__c",
              "CRD_Acc_ID__c",
              "CRD_Cont_ID__c",
              "createdAt",
              "Created_by_VG__c",
              "Customer_Number__c",
              "IsCustomerPortal",
              "Technical_Support_Account_Manager_TSAM__c",
              "Data_Source_Id__c",
              "Jigsaw",
              "Jigsaw_account",
              "dateOfBirth",
              "daysdownloadedfile",
              "Deal_Registered_Date_now__c",
              "TARPS__Decision_Date__c",
              "TARPS__Decision_Date__c_account",
              "deliveriesAfterBounces",
              "demographicScore",
              "department",
              "Department__c",
              "Discount_Perc__c",
              "Division_All__c",
              "doNotCall",
              "mktoDoNotCallCause",
              "doNotCallReason",
              "downloadfreetrialfileid",
              "ecosystemCategories",
              "email",
              "emailBounceCategory",
              "emailBounceDetails",
              "EmailBouncedDate",
              "EmailBouncedReason",
              "emailBounces",
              "emailDeliveredAfterBounce",
              "emailInvalid",
              "Email_Invalid__c",
              "emailInvalidCause",
              "Email_of_Field_Sales__c",
              "emailSuspended",
              "emailSuspendedAt",
              "emailSuspendedCause",
              "EMEA_data_protection_policy__c",
              "EMEA_Territory__c",
              "eMEATerritoryB",
              "Entitlement_Status__c",
              "eventAttendance",
              "eventDateCode",
              "eventDateCodeID",
              "eventDateCodeSession",
              "eventDietryRequirements",
              "atEventEventName",
              "Events_Opt_Out__c",
              "Exclude_Overlays_MKTO__c",
              "Existing_Customer__c",
              "Expected_Close_Date__c",
              "Compliance_Status__c",
              "Extension__c",
              "externalCompanyId",
              "externalSalesPersonId",
              "fax",
              "HasOptedOutOfFax",
              "FEM_Usage__c",
              "fftfiledownload",
              "firmographicScore",
              "First_Contact__c",
              "First_MQL_SAL_MKTO__c",
              "First_MQL_SQL_MKTO__c",
              "First_MQL_Date_MKTO__c",
              "firstName",
              "First_name_Phonetic__c",
              "First_Opportunity_Won_Date_MKTO__c",
              "First_Won_Date__c",
              "TARPS__ForceRescreen__c",
              "TARPS__ForceRescreen__c_account",
              "formLanguage",
              "mktoName",
              "Full_Name__c",
              "GeocodeAccuracy",
              "Geography__c",
              "BU_Region__c",
              "globalFormWebPage",
              "hexagonAffiliation",
              "Host_ID__c",
              "ID_18_Digits__c",
              "implicitOptinDate",
              "In_Open__c",
              "In_Return_to_Marketing__c",
              "In_Sales_Accepted__c",
              "In_Will_Never_Buy__c",
              "industry",
              "Industry_Description__c",
              "Industry_Description__c_account",
              "Industry_Segment__c",
              "Industry_Segment__c_lead",
              "inferredCity",
              "inferredCompany",
              "inferredCountry",
              "inferredMetropolitanArea",
              "inferredPhoneAreaCode",
              "inferredPostalCode",
              "inferredStateRegion",
              "Interested_In__c",
              "Interesting_Moment__c",
              "mktoIsCustomer",
              "IsEmailBounced",
              "Is_Open_MQL_MKTO__c",
              "Is_Overlay_the_Logged_in_User__c",
              "mktoIsPartner",
              "isAccount__c",
              "IsAccountConverted__c",
              "isContact__c",
              "isLead__c",
              "JigsawCompanyId_account",
              "JigsawContactId_lead",
              "Job_Function__c",
              "title",
              "Portal_User_Language__c",
              "lastEngagement",
              "lastEngagementDate",
              "lastForm",
              "lastFormHistory",
              "lastName",
              "Last_name_Phonetic__c",
              "Last_Program_Success__c",
              "LastReferencedDate",
              "LastReferencedDate_account",
              "Last_Reporting_Date__c",
              "Last_Status_Change_Date__c",
              "Last_Success_Before_MQL_MKTO__c",
              "LastViewedDate",
              "LastViewedDate_account",
              "Latest_Actioned_Date_MKTO__c",
              "Latest_MQL_SAL_MKTO__c",
              "Latest_MQL_SQL_MKTO__c",
              "Latest_MQL_Date_MKTO__c",
              "Latest_Opportunity_Won_Date_MKTO__c",
              "latestOptinDate",
              "Latest_Return_to_Marketing_Date_MKTO__c",
              "Latitude",
              "Lead_Comments__c",
              "Zone_Region__c",
              "CurrencyIsoCode",
              "leadOwnerB",
              "leadOwnerAssigned",
              "leadOwnerAssignedDate",
              "Lead_Owner_Function__c",
              "Lead_Score_Most_Recent__c",
              "Lead_Status_Reason_Comment__c",
              "Lead_Status_Reason__c",
              "Legacy_System_and_Record_ID__c",
              "Legacy_System_Name__c",
              "Legacy_System_Name__c_contact",
              "Legacy_System_Record_ID__c",
              "Legacy_System_Record_ID__c_contact",
              "Legacy_System_Transfer_Date__c",
              "Legacy_System_Transfer_Date__c_account",
              "legalBasisforCommunication",
              "legalBasisforCommunicationLastUpdated",
              "Legal_Entity_Name__c",
              "Level_of_Interest__c",
              "License_Compliance_Status__c",
              "Lifecycle_Status__c",
              "TARPS__EOD_Link__c",
              "TARPS__EOD_Link__c_account",
              "Linked_Account__c",
              "Location_Type__c",
              "Longitude",
              "magnidIDPassword",
              "MailingAddress",
              "MailingCountryCode",
              "MailingGeocodeAccuracy",
              "MailingLatitude",
              "MailingLongitude",
              "MailingStateCode",
              "mainPhone",
              "marketingSuspended",
              "marketingSuspendedCause",
              "Marketing_Suspended_Date__c",
              "Marketing_Suspended_Reason__c",
              "marketoEventID",
              "facebookDisplayName",
              "facebookId",
              "facebookPhotoURL",
              "facebookProfileURL",
              "facebookReach",
              "facebookReferredEnrollments",
              "facebookReferredVisits",
              "gender",
              "lastReferredEnrollment",
              "lastReferredVisit",
              "linkedInDisplayName",
              "linkedInId",
              "linkedInPhotoURL",
              "linkedInProfileURL",
              "linkedInReach",
              "linkedInReferredEnrollments",
              "linkedInReferredVisits",
              "syndicationId",
              "totalReferredEnrollments",
              "totalReferredVisits",
              "twitterDisplayName",
              "twitterId",
              "twitterPhotoURL",
[...]
